body{
    font-family: sans-serif;
    margin: 0;
    background: url("https://upload.wikimedia.org/wikipedia/commons/f/fc/Thunder_lightning_Garajau_Madeira_289985700.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    /* background-color: aqua; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.center{
    text-align: center;
}

.app{
    background-color: #FF66D8;
    padding: 2rem;
    border-radius: 8px;
    /* width: 80%; */
}

.flex{
    display: flex;
}

.content{

}

.values{
    flex-direction: column;
}
input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
  }

input:focus-visible{
    outline: none;
}

.pic{
    width: 100%;
}

.unit{
    cursor: pointer;
}

.unit:hover{
    color: #F4EBD9;
}