body{
    font-family: sans-serif;
    margin: 0;
    background: url("https://upload.wikimedia.org/wikipedia/commons/f/fc/Thunder_lightning_Garajau_Madeira_289985700.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

h2{
    color: #861657;
}

h3{
    color: #483D3F;
}
.container{
    /* background-color: aqua; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.center{
    text-align: center;
}

.app{
    background-color: #FF66D8;
    padding: 2rem;
    border-radius: 8px;
    width: 50%;
}

.flex{
    display: flex;
}

.content{

}

.values{
    flex-direction: column;
}
input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
  }

input:focus-visible{
    outline: none;
}

.pic{
    width: 50%;
}

.iconify{
    text-align: center;
}
.unit{
    cursor: pointer;
    font-weight: 700;
}

.unit:hover{
    color: #F4EBD9;
}